<!-- Song View -->
<div class="title">
    <h1>Song Details</h1>
</div>
<div class="content">
    <div id="song">
        <div class="display">
            <div class="song-content">
                Title: <%= title %><br />
                Checked: <%= published %><br />
            </div>
        </div>
        <div class="edit">
            <input class="song-input" type="text" value="<%= title %>" />
        </div>
    </div>
    <div id="song-stats" class="song-stats">
        <span class="song-count"><span class="number">1</span> <span class="word">item</span> left.</span>
    </div>
</div>
