<!-- Song View -->
<div class="title">
    <h1>Song Details</h1>
</div>
<div class="content">
    <div class="song">
        <div class="content">
            Title: <span class="display title"><%= title %></span><span class="edit"><input class="input title" type="text" value="<%= title %>" /></span><br/>
            Checked: <span class="display published"><%= published %></span><span class="edit"><input class="input published" type="text" value="<%= published %>" /></span>
        </div>
    </div>
    <div class="tracklist-subview"><!-- INCLUDE trackList.ejs --></div>
</div>
