<!-- SongList View -->
<div class="title">
    <h1>Song List</h1>
</div>
<div class="content">
    <div class="create">
        <input class="song-new" placeholder="Song title?" type="text" /><span class="ui-tooltip-top" style="display:none;">Press Enter to save as a new Song</span>
    </div>
    <div><ul class="songlist"><!-- INCLUDE songListItem.ejs --></ul></div>
    <div class="songlist-stats stats"><!-- INCLUDE songListStats.ejs --></div>
</div>
