<% if (total) { %>
    <span class="track-count">
        <span class="number"><%= remaining %></span>
        <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
    </span>
<% } %>
<% if (published) { %>
    <span class="track clear">
        <a href="#">
            Clear<span class="number-done"> <%= published %></span>
            checked <span class="word-done"><%= published == 1 ? 'item' : 'items' %></span>
        </a>
    </span>
<% } %>
