<!-- TrackList View -->
<div class="title">
    <h2>Track List</h2>
</div>
<div class="content">
    <div class="create">
        <input class="track-new" placeholder="Track title?" type="text" /><span class="ui-tooltip-top" style="display:none;">Press Enter to save as a new Track</span>
    </div>
    <div><ul class="tracklist"><!-- INCLUDE trackListItem.ejs --></ul></div>
    <div class="tracklist-stats stats"><!-- INCLUDE trackListStats.ejs --></div>
</div>
